@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Products List</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
  @if(Model != null && Model.ProductList.Any())
    {
       foreach(var product in Model.ProductList)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Quantity</td>
                <td>
                    @Html.ActionLink("Add", "Add")
                </td>
            </tr>
        }
    }
    else
    {
        <td>@Html.ActionLink("Add", "Add")</td>
    }
</table>
